@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');
*{
    margin:0%;
    padding: 0%;
    text-decoration: none;
    box-sizing: border-box; /**/
}
html{
    scroll-behavior: smooth;
}
/* nav styling */
.menuicon{
    color: white;
    cursor: pointer;
    display: none;
}
.checkbox{
   display: none;
}
.navbar{
    background-color: brown;
    position: fixed;
    width: 100%;
    font-size: 20px;
    height: 45px; 
    z-index: 999;
}
.maxwidth{
    max-width: 1300px;
    padding: 5px 0px;
}
.navbar .logo a{
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 30px;
}
.navbar .logo span{color:rgb(243, 154, 171);}
.navbar .maxwidth{
    display: flex;
    margin: auto; 
    align-items: center;
    justify-content: space-around;
}
.navbar .menu li{
    font-size: 20px;
    display: inline-block;
    list-style: none;
    margin-left: 50px;
    font-family:  monospace;
}
.navbar .menu a:hover{
    color: crimson;
}
.navbar .menu a{
    color: rgb(255, 255, 255);
}
.home{
    display: flex;
    height: 120vh;
    min-height: 200px;
    background-image: url("pic22.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.home .maxwidth{
    margin: auto 0 auto 40px;
    margin-top: 205px; color: aliceblue;
}
.home .homecontent .text1{
    font-size: 40px;
}
.home .homecontent .text2{  
    font-size: 77px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
.home .homecontent .text3{
    font-size: 40px;
    font-family:'Kanit', sans-serif;;
}
.home .homecontent .text3 span{
    font-size: 40px;
    color: rgb(138, 58, 58);
}
.home .homecontent p{
    margin-top:100px;
    text-align: center;
    display: none;
}
.home .homecontent a{
    background-color: rgb(135 0 26);
    font-size: 23px;
    color: aliceblue;
    font-family: Arial;
    line-height: 77px;
    border: 2px solid crimson;
    border-radius: 10px;
    padding: 8px;
}
.home .homecontent a:hover{
    color: crimson;
    background: none;
}
.about .aboutcontent  {
    display: flex;
    flex-wrap:wrap ;
    align-content: center;
    justify-content: space-between;
}
.columnleft img{
    height: 35vh;
    align-items: center;
    margin-top: 50px;
    object-fit: cover;  
}
/* about section styling */
.about{
    height: 100vh;
}
.about .aboutcontent .right h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    padding-bottom: 30px;
}
.about .aboutcontent .left{
    width: 45%;
    margin-top: 30px;
}
.about .aboutcontent .left img{
    height: 400px;
    width: 370px;
    object-fit: cover;
    border-radius: 20px;
}
.about .aboutcontent .right{
    width: 55%;
    margin-top: 30px;
}
.about .aboutcontent .right .text{
    font-size: 25px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
.about .aboutcontent .right p{
    text-align: justify;
    line-height: 21px;
}

.about .aboutcontent .right a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease; /**/
}
.about .aboutcontent .right a:hover{
    color: crimson;
    background: none;
}

/* skills section styling */
.skills{
    height: 100vh;
}
.skills .skills-content{
    display: flex; 
}

.skills .skills-content .column{   
    width: calc(50% + 30px);
}
.skills .skills-content .left .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .left a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease; /**/
}
.skills .skills-content .left a:hover{
    color: crimson;
    background: none;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .right .line{
    height: 5px;
    width: 100%;
    background: lightgrey;
    position: relative;
    color: blue;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}
.skills .max-width .left  h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    padding: 44px 0px 11px 2px;
}
.skills .max-width .left{
    margin: 46px 25px 0px 22px;
}
.skills .max-width .right{
    margin: 150px 25px 0px 22px;
}
.skills-content .right .java::before{
    width: 90%;
}
.skills-content .right .css::before{
    width: 60%;
}
.skills-content .right .c::before{
    width: 80%;
}
.skills-content .right .dsa::before{
    width: 80%;
}
.skills-content .right .mysql::before{
    width: 70%;
}
.skills-content .right .html::before{
    width: 70%;
}
/* Education styling */
.education{
    height: 100vh;
}
.education .educontent {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.education .educontent .left img{
    height: 65%;
    width: 95%;
    border-radius: 5px;
    margin-left: 18px;
    margin-top: 106px;
} 
.education .educontent .right h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    padding: 24px 0px;
}
.education .educontent .column{ /* making alignment in one column*/
    width: calc(50% - 30px);
}

.education .educontent .right .text{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 19px;
    line-height: 25px;
}
.education .educontent .right span{
    color: crimson;
    font-weight: bold;
    line-height: 4px;
}
.education .educontent .right p{
    text-align: right;
    font-size: 15px;
}
.education .educontent .right a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease; /**/
    }
    .education .educontent .right a:hover{
        color: crimson;
        background: none;
    }
   
 /* contact section styling */
.contact{
        height: 100vh;
    }
    
.contact .contact-content .left{
    margin: 185px;
}
.contact .contact-content .left h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    padding: 42px 0px 11px 13px;
    text-align: center;
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .left form .fields{
    display: flex;
}
.contact .left form .field,
.contact .left form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .left form .textarea{
    height: 190px;
    width: 100%;
}
.contact .left form .field input,
.contact .left form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.3s ease;  /**/
}
.contact .left form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
.contact .left form .button-area{
  display: flex;
  align-items: center;
}
.left form .button-area button{
  color: #fff;
  display: block;
  width: 160px!important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: crimson;
  border: 2px solid crimson;
  transition: all 0.3s ease;
}
.left form .button-area button:hover{
  color: crimson;
  background: none;
}

/* Project Section Styling */
.project{
    height: 100vh;
}
.project .procontent .column{
    width: calc(50% - 0px);
}
.project .procontent {
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    align-items: flex-end;
}
.project .procontent .left img{
    height: 300px;
    width: 540px;
    border-radius: 30px;
    object-fit: contain;
}

.project .procontent .right h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    padding-top: 60px;
}
.project .procontent .right .text p{
    color: crimson;
    font-size: 25px;
    font-weight: bold;
    line-height: 40px;
    padding-top: 28px;
}
.project .procontent .right .text li{
    font-size: 18px;
    margin-left: 42px;
    font-style: italic;
}
.project .procontent .right .button-area{
    margin-top: 25px;
}
.project .procontent .right .button-area a{
    background-color: crimson;
    font-size: 20px;
    color: aliceblue;
    font-family: Arial;
    line-height: 77px;
    border: 2px solid crimson;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.3s ease;
}
.project .procontent .right .button-area a:hover{
    color: crimson;
    background: none;
  }
  /* footer stying  */
footer{
    background: rgb(34, 7, 7);
    padding: 15px 23px;
    color: #fff;
    text-align: center;
    font-family: monospace;
}
footer .fcontents{
    display: flex;
    margin: auto; 
    align-items: center;
    justify-content: space-around; 
    padding: 28px;
    height: 30vh;
}
footer .fcontents .social .items{
    display: flex;
    margin: auto; 
    text-align: center;
    justify-content: space-between;
}

footer .col a{
    color: white;
    font-size: 18px;
    line-height: 28px;
}
footer .col h2{
    margin-bottom:20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
footer .col{
    width: calc(20% + 0px);
}
footer .fcontents .social .items a{
    font-size: 25px;
}
footer .fcontents .social a{
   color: white; 
}

/* media query  */
 @media(max-width:900px){ 
    .navbar{
       display: none;
    } 
   .homecontent .error{
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: black;
        top:0;
        left:0%;
        z-index: 999;      
    }
    .homecontent .error p{
         display: block;
        
    }   
 }
